{% extends 'base.html' %}

{% block head %}
{% block title %}Dashboard - Drug Abuse Tracker{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% endblock %}

{% block content %}
<h1>Welcome, {{ user.name }}!</h1>
<p>This is your dashboard. You can view and manage your profile here.</p>

    <h2>Your Details:</h2>
    <p>Height: {{ height }} cm</p>
    <p>Weight: {{ weight }} kg</p>

    <h2>Your Health Stats:</h2>
       <h4>Your Total Drug Consumption:</h4>
    <p>Total Alcohol Consumed: {{ total_alcohol }} ml</p>
    <p>Total Cigarettes Smoked: {{ total_cigarettes }}</p>

{#    {% if bac %}#}
{#        <p>Blood Alcohol Content (BAC): {{ bac|floatformat:2 }}%</p>#}
{#    {% else %}#}
{#        <p>No BAC data available.</p>#}
{#    {% endif %}#}

    <p>BAC: </p>
    <p id="bac-value">{{ updated_bac }}</p>

    <script>
    // Function to update BAC value using AJAX
    function updateBAC() {
        $.ajax({
            url: '{% url "get_updated_bac" %}',  // URL to fetch updated BAC
            success: function(data) {
                // Update BAC value on the page
                $('#bac-value').text(data.updated_bac);
            }
        });
    }

    // Periodically update BAC value every 5 seconds (adjust as needed)
    setInterval(updateBAC, 5000);
    </script>


    {% if cigarette_toxins %}
        <p>Cigarette Toxins: {{ cigarette_toxins|floatformat:2 }} mg</p>
    {% else %}
        <p>No cigarette toxins data available.</p>
    {% endif %}

    {% if alcohol_toxins %}
        <p>Alcohol  Toxins: {{ alcohol_toxins|floatformat:2 }} mg</p>
    {% else %}
        <p>No alcohol toxins data available.</p>
    {% endif %}
<p><a href="{% url 'intake' %}">Add Drug Intake</a></p>
{% endblock %}


